@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

.main-page {
  background-color: #f2f3f3;
  color: #606973;
  font-family: Sans-serif;
}

.main-page-upper-part {
  display: flex;
  padding: 5% 5% 2% 5%;
}

.header {
  width: 50%;
  font-size: 350%;
  align-self: center;
  text-align: center;
  font-weight: bold;
}

.login {
  width: 50%;
  text-align-last: right;
}

.login-button {
  padding: 3% 6%;
  border-radius: 50px;
  font-size: 150%;
  background-color: #11ce66;
  color: #606973;
  border: none;
  cursor: pointer;
  font-family: Sans-serif;
}

.main-page-middle-part {
  display: flex;
  padding: 2% 5% 2% 5%;
}

.image {
  width: 100%;
}

.main-page-bottom-part {
  display: grid;
  padding: 2% 5% 5% 5%;
}

.about-header {
  padding-bottom: 2%;
  font-size: 200%;
  justify-self: center;
}

.about-body {
  padding-top: 2%;
}

.login-page {
  background-color: #f2f3f3;
  color: #606973;
  font-family: Sans-serif;
  padding: 20%;
}

.login-page-upper-part {
  display: flex;
  padding: 0% 5% 10% 5%;
  justify-content: center;
  font-weight: bold;
  font-size: 200%;
}

.login-header {
  width: 100%;
  text-align: center;
}

.login-page-middle-part {
  text-align-last: center;
}

.input-text {
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 150%;
}

.input-field {
  padding-bottom: 5%;
}

.input {
  height: 50px;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 50px;
  font-size: 150%;
  background-color: #969faa;
  color: #f2f3f3;
  border: none;
  font-family: Sans-serif;
}

.text {
  width: 100%;
}

.login-page-login {
  padding-top: 15%;
}

/**Overview page**/
h2 {
  color: #47525e;
  font-size: rem(40px);
  font-family: Lato;
}

h3 {
  color: #47525e;
  font-family: Lato;
  font-size: rem(28px);
}

.center-elements {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.container {
  padding-top: 5%;
}

.row {
  display: flex;
  justify-content: center;
}

.first-box {
  padding: 5%;
  background-color: #d7ffe9;
  border-style: solid;
  border-radius: 10%;
  border: none;
  display: block;
  height: 200px;
}

.second-box {
  padding: 5%;
  background-color: #f9e0ff;
  border-style: solid;
  border: none;
  border-radius: 10%;
  display: block;
  height: 200px;
}

.third-box {
  padding: 5%;
  background-color: #c5fffd;
  border-style: solid;
  border-radius: 10%;
  border: none;
  display: block;
  height: 200px;
}

.fourth-box {
  padding: 5%;
  background-color: #f8f8eb;
  border-style: solid;
  border-radius: 10%;
  border: none;
  display: block;
  height: 200px;
}

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.overview-text {
  white-space: nowrap;
  color: #47525e;
  font-family: Lato;
  font-size: rem(26px);
}

.button-style {
  background-color: #13ce66;
  border-color: #13ce66;
  border-radius: 84px;
  width: 70%;
  color: #47525e;
  font-family: Lato;
}

.dot {
  background-color: #77d353;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.dot-red {
  background-color: #f95f62;
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.body-padding {
  padding: 5%;
}

.right-align {
  display: flex;
  justify-content: flex-end;
}

/**Switch**/

.switch input {
  position: absolute;
  opacity: 0;
}

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #13ce66;
  border-radius: 1em;
}


.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #78cbf7;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: #8fff64;
}

.switch input:checked + .heating {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: orange;
}

.switch + .heating {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  background: blue;
}


.one-line {
  display: flex;
  justify-content: space-between;
}

.off {
  display: none;
}

.on,
.off {
  color: black;
  position: sticky;
  font-size: 10px;
  font-family: Lato;
}

.switch input:checked + div .on {
  display: none;
}

.switch input:checked + div .off {
  display: block;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.house-1 {
  padding: 5%;
  background-color: #d7ffe9;
  border-style: solid;
  border: none;
  border-radius: 10%;
  display: block;
  height: auto;
  width: 700px;
}

.house-2 {
  padding: 5%;
  background-color: #c5fffd;
  border-style: solid;
  border: none;
  border-radius: 10%;
  display: block;
  height: auto;
}

.house-3 {
  padding: 5%;
  background-color: #f9e0ff;
  border-style: solid;
  border-radius: 10%;
  border: none;
  display: block;
  height: auto;
}

.btn-group button {
  border: 1px solid green;
  color: black;
  padding: 7px 12px;
  cursor: pointer;
  width: 70%;
  display: block;
}

.btn-group {
  margin: 10px;
}

.plus {
  background-color: #f95f62;
}

.minus {
  background-color: #00a6ff;
}

.kastmine {
  background-color: #00a6ff;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}